/* Main */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a {
    color: white;
}

:root {
    --index: calc(1vw + 1vh);
}

body {
    background-color: #222222;
}

/* Fonts */

@font-face {
    font-family: 'Ubuntu Medium';
    src:  url('/fonts/Ubuntu-Medium.ttf') format('truetype')
}

@font-face {
    font-family: 'Ubuntu Bold';
    src:  url('/fonts/Ubuntu-Bold.ttf') format('truetype')
}

@font-face {
    font-family: 'Ubuntu Light';
    src:  url('/fonts/Ubuntu-Light.ttf') format('truetype')
}

/* Header */

.header {
    position: relative;
}

.header:after {
    content: "";
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-image: url('../img/lower.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    bottom: calc(var(--index) * -10);
    text-shadow: 0 0 30px #ffffff;
}

.header__layers {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.layer__top {
    z-index: 20;
    color: white;
    transform: translate3d(0, calc(var(--scrollTop)/2), 0);
    will-change: transform;
    text-transform: uppercase;
    text-shadow: 0 0 15px #ffffff;
}

.layers__title {
    font-weight: 400;
    font-size: 80px;
    font-family: "Ubuntu Medium";
}

.layers-title__span {
    color: red;
    font-weight: 900;
    font-size: 100px;
    font-family: "Ubuntu Bold";
}

.layer {
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    will-change: transform;
    z-index: 0;
}

.layers__base {
    background-image: url('../img/newback.png');
    transform: translate3d(0, calc(var(--scrollTop)/2), 0);
    z-index: 0;
}

.layers__middle {
    background-image: url('../img/third-layer.png');
    transform: translate3d(0, calc(var(--scrollTop)/2.6), 0);
}

.layers__front {
    background-image: url('../img/second-layer.png');
    transform: translate3d(0, calc(var(--scrollTop)/2.1), 0);
}

.layers__kagune {
    background-image: url('../img/first-layer.png');
    transform: translate3d(0, calc(var(--scrollTop)/2.5), 0);
}

.header__btn {
    width: 230px;
    height: 60px;
    position: absolute;
    z-index: 120;
    background-color: transparent;
    /* border-radius: 5px; */
    border: none;
    outline: none;
    font-family: "Ubuntu Bold";
    font-size: 24px;
    transition: 1s ease-in-out;
}

svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: white;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
}

.header__btn:hover {
    transition: 1s ease-in-out;
    box-shadow: 0 0 15px red;
}
  
.header__btn:hover svg {
    stroke-dashoffset: -480;
    box-shadow: 0 0 10px white;
}

.header__btn:hover  span{
    /* color: lightcoral; */
    transition: 0.5s ease-in-out;
}

.btn-1 {
    left: 20%;
    top: 20%;
}

.btn-2 {
    left: 20%;
    bottom: 20%;
}

.btn-3 {
    right: 20%;
    top: 20%;
}

.btn-4 {
    right: 20%;
    bottom: 20%;
}

/* Main */
.main {
    min-height: 100vh;
    padding-top: 400px;
    background-image: url('/img/lowerback.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.main__info {
    margin-bottom: 450px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.main__title, .main__subtitle, .copyright {
    color: white;
}

.main__title {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 80px;
    color: rgb(164, 0, 0);
    font-weight: 800;
    font-family: "Ubuntu Bold";
}

.main__subtitle {
    max-width: 800px;
    font-size: 35px;
    margin-bottom:250px;
    font-family: "Ubuntu Light";
}

.copyright {
    font-family: "Ubuntu Medium";
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
}
