/* Main settings */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    --index: calc(1vw + 1vh);
    --white: #ffffff;
    --black: #000000;
    --background-color: #222222;
    --red: #ff0000;
    --dark-red: #a40000;
}

a {
    color: var(--white)
}

body {
    background-color: var(--background-color);
}

/* Fonts */

@font-face {
    font-family: 'Ubuntu Medium';
    src: url('/fonts/Ubuntu-Medium.ttf') format('truetype')
}

@font-face {
    font-family: 'Ubuntu Bold';
    src: url('/fonts/Ubuntu-Bold.ttf') format('truetype')
}

@font-face {
    font-family: 'Ubuntu Light';
    src: url('/fonts/Ubuntu-Light.ttf') format('truetype')
}